/* Design by VTEM http://www.vtem.net  All Rights Reserved */
.vt_show_cart{width:120px; margin:0 auto;}
.vt_show_cart a{ padding:3px 5px !important; float:none !important;  margin-top:20px; clear:both; display:block;}
.vt_vmCartModule .vt_show_cart{width:auto;}
.total_products{text-align:center; }
.total_products .vt_img_cart{
padding:10px 0px 0px 10px;
background:url(../images/shopping-cart.gif) left center no-repeat;
width:70px;
height:70px;
margin-left:10px;
float:left;
}
.VMmenu li div{ background:url(../images/line_content.png) left bottom repeat-x;}
.total_products .vt_emptycart{ width:80px; float:left; text-align: left;}
.vt_lineempty{ padding-top:30px;}
.featured-view .spacer img,
.category-view .spacer img,
.topten-view .spacer img,
.latest-view .spacer img{ width:90px; height:90px;}
.vt_images img, 
.featured-view .spacer img,
.category-view .spacer img,
.topten-view .spacer img,
.latest-view .spacer img{
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
border:1px solid #eee;
background:#fff;
padding:5px;
}
.vt_browseProductImage{width:120px; height:120px;}
.vt_price,.vt_images,.vt_add_to_cart{padding:3px 0;}
.vt_title{ padding:0px 0px 5px 0px;}
.vt_price{
text-align:center;
}
.productdetails-view{ margin-top:20px;}
.productdetails-view .product-short-description{
float: right;
margin: 0 0 0px;
padding: 10px;
width: 53%;
}
.productdetails-view .vt_spacer-buy-area{ padding:10px !important}
.icons {
float: none !important;
margin: 0px !important;
text-align: right;
}
#facebox .content{ padding:20px;}
#facebox .content{ max-width:400px;}
.vm_cart_products .product_row{ border-bottom:1px solid #ddd; padding:5px 0px; margin-bottom:5px;}
.vt_vmCartModule .vm_cart_products{ border-bottom:0; padding:0px; margin:0px;}
.vt_price{font-size:24px; color:#b30101;}
.PricesalesPrice span.PricesalesPrice{font-weight:bold !important; font-size:140% !important; color:#c00 !important;}
.product-price{ margin:0;}
.orderlistcontainer div.activeOrder{
	background:#f5f5f5 url(../images/arrow_down.png) right center no-repeat;
	border:1px solid #d5d5d5;
	*max-width:100px;
 }
.orderlistcontainer div.orderlist{ z-index:9999; background:#f5f5f5; border:1px solid #d5d5d5;} 
 .activeOrder a{ color:#999 !important;}
.orderby-displaynumber .display-number .inputbox{ width:110px;}
.category-view .row .category .spacer, .featured-view .spacer, .latest-view .spacer, .topten-view .spacer, .related-products-view .spacer, .browse-view .row .product .spacer{ padding:6px 0px;}
.vmgroup .addtocart-area,
.vmgroup_featured_products .addtocart-area{
width:125px;
text-align:center;
margin:0 auto;
clear:both;
}
.productdetails-view .addtocart-bar {
margin: 15px 0px 0px;
padding: 0px !important;
}
span.addtocart-button {
    float: left;
    margin: 2px 0 0px;
    width:auto !important;
}
#vt_inset .addtocart-area .quantity-box,
#vt_inset .addtocart-area .quantity-controls,
#vt_nav_right .addtocart-area .quantity-box, 
#vt_nav_right .addtocart-area .quantity-controls,
#vt_nav_left .addtocart-area .quantity-box,
#vt_nav_left .addtocart-area .quantity-controls,
.vt_browseProductContainer .contentpagetitle,
.vmgroup_featured_products .quantity-box,
.vmgroup_featured_products .quantity-controls{ display:none;}
.vt_addtocart_button_module,.vt_addtocart_button,.vt_notify_button, .addtocart-button{
background:url(../images/vt_button_left.png) left center no-repeat;
padding:0px 0 0px 22px;
*padding:0px 0 0px 15px;
border:none;
display:block;
font-size:12px;
cursor:pointer;
outline:none;
}
span.addtocart-button input.addtocart-button, span.addtocart-button input.notify-button {
    border-radius:0px !important;
    cursor: pointer;
    letter-spacing: 0px !important;
    text-align: center;
    width:auto !important;
}
.vt_addtocart_button_module span,.vt_addtocart_button span,.vt_notify_button span, 
.addtocart-button input.addtocart-button{
background:url(../images/vt_button_right.png) right center no-repeat !important;
font-weight:bold !important;
display:block !important;
color:#666 !important;
text-shadow: 0px 1px 1px #fff;
font-size:11px !important;
height:28px !important;
padding:7px 25px 8px 5px !important;
outline:none !important;
border:0 !important;
}
.additional-images a{
	margin-right:10px;
	}
.additional-images img {
    height: 65px;
    margin: 0px;
    width: 50px;
	background:#fff;
	padding:5px;
}
.vt_currency_button input.button{ 
border:0;
background:none;
color:#666 !important;
text-shadow: 0px 1px 1px #fff;
font-weight:bold;
 }
.vt_currency_button input.button:hover{ cursor:pointer;}
#vt_drawer select.inputbox{ float:left; *width:170px !important; *margin-top:10px;}
.vt_currency_button, .vt_currency_button .button_change{
padding:0px 0 0px 10px;
border:none;
display:inline-block;
font-size:12px;
cursor:pointer;
outline:none;
}
.vt_currency_button{background:url(../images/vt_currency_left.png) left center no-repeat !important; float:right; margin:3px 18px 0px 0px;}
.vt_currency_button .button_change{
	background:url(../images/vt_currency_right.png) right center no-repeat !important;
	font-weight:bold !important;
	display:inline-block;
	height:25px !important;
	padding:5px 10px 0px 0px !important;
	outline:none !important;
	border:0 !important;
	font-weight:bold;
	}
.browse-view .vt_itemproductabouts, 
.product-short-description,
.vt_spacer-buy-area{
padding:10px 0;
margin-bottom:5px;
padding:5px;
display:block;
}
.product-short-description{ border-bottom:0px;}
.productdetails-view .vt_spacer-buy-area{ border-top:0px;}
span.quantity-controls input.quantity-plus,
span.quantity-controls input.quantity-minus{ background:url(../images/quantity-controls.png) repeat-x;}
span.quantity-controls input.quantity-minus{ background-position:13px 0;}
span.quantity-controls input.quantity-controls{ height:12px; width:13px; position:relative; *top:-10px;}
.browse-view h1{ display:none;}
.orderby-displaynumber, .horizontal-separator{ border:0; background:none; margin:2px 0px;}
.vt_browseRatingContainer,.vt_browseAddToCartContainer{
width:48%;
float:left;
}
.vt_browseAddToCartContainer{border-left:1px solid #ddd; padding-left:5px;}
.vt_infor_cart{
background:#f5f5f5;
border:1px solid #eee;
padding:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
}
.quantity_box{font-weight:bold;}
.vt_browseAddToCartContainer .inputboxquantity{
border:1px solid #ccc;
}
.vt_browseAddToCartContainer .vt_addtocart_button,.vt_browseAddToCartContainer .vt_notify_button{margin-top:5px;}
.vmRecentDetail{
list-style:none;
margin:0;
padding:0;
}
.vmRecentDetail li{
background:url(../images/li_arrow1.gif) left 11px no-repeat;
padding:5px 5px 5px 15px;
border-bottom:1px solid #e5e5e5;
}
.ask-a-question-view input.counter, .ask-a-question-view input#email,
.ask-a-question-view input#name {
    background:url(../images/backgrounds.png) repeat-x center top #E8E8E8 !important;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    color:#999;
    display: inline-block;
    margin: 2px 0 2px 10px;
    padding: 5px 5px 4px;
}
.ask-a-question-view input.counter:hover, .ask-a-question-view input#email:hover,
.ask-a-question-view input#name:hover{ background-position:center -40px; color:#333;}
.cart-view textarea.customer-comment{
    background:#f5f5f5;
    border: 1px solid #CAC9C9;
    border-radius: 4px 4px 4px 4px;
    color: #777777;
    padding: 12px;
    text-align: left;
    width: 350px;
}
.customer-comment{ clear:both; text-align:left; clear:both; color:#666;}
.cart-view .customer-comment span.comment{ font-size:14px; font-weight:bold;}
.cart-view textarea.customer-comment:hover{ background:#f5f5f5; color:#333;}
.checkout-button-top{ text-align:left; margin-top:10px;}
input.highlight-button{ margin-top:2px;}
.vt_billto, .vt_shipto{ display:block; clear:both; padding:10px 0px;}
input.highlight-button, .ask-a-question a.ask-a-question,
a.product-details, a.details, #com-form-login-remember input.default,
.vm-button-correct, .vm-button-correct:link, .vm-button-correct:visited,
.control-buttons button.default, .vt_show_cart a, .cart-view #form-login input.button{
font-weight:bold;
color:#ccc !important;
padding:0px 20px !important;
height:26px; 
line-height:26px;
border:none;
-moz-border-radius:30px;
-webkit-border-radius:30px;
border-radius:30px;
background-color:#333;
font-size:12px !important;
text-align:center;
background:url(../images/vt_bgbutton.png) left top repeat-x;
}
input.highlight-button:hover,
.ask-a-question a.ask-a-question:hover,
a.product-details:hover, a.details:hover,
#com-form-login-remember input.default:hover,
.vm-button-correct:hover, .control-buttons button.default:hover,
.vt_show_cart a:hover, .cart-view #form-login input.button:hover{
color:#fff; 
cursor:pointer;
text-decoration:none;
background:url(../images/vt_bgbutton.png) left -26px repeat-x;
	}
	
.vt_show_cart a{ padding:0px 5px !important; margin-top:10px;}	
.ie9 input.highlight-button, .ie9 .ask-a-question a.ask-a-question,
.ie9 a.product-details, .ie9 a.details, .ie9 #com-form-login-remember input.default,
.ie9 .vm-button-correct, .ie9 .vm-button-correct:link, .ie9 .vm-button-correct:visited,
.ie9 .control-buttons button.default,
.ie9 input.highlight-button:hover, ie .vt_show_cart a:hover
.ie9 .ask-a-question a.ask-a-question:hover,
.ie9 a.product-details:hover, .ie9 a.details:hover,
.ie9 #com-form-login-remember input.default:hover,
.ie9 .vm-button-correct:hover, .ie9 .control-buttons button.default:hover{filter:none !important; /* IE6-9 */}
	
hr{
background:none;
color:#fff;
}
.vt_category_shop_infor td{font-weight:bold; font-size:120%;}
.contentpane_vtem_popup h3{background:#333; color:#fff; text-transform:uppercase; padding:5px;}
.vmgroup_latest_products ul, 
.vmgroup_featured_products ul,
.vmgroup_best_sales ul{ padding:0px; margin:0px;}
.vmgroup_latest_products ul li,
.vmgroup_featured_products ul.vmproduct_featured_products li{margin:10px;}
.vmgroup_latest_products ul li{width:43% !important;}
.vmgroup_featured_products ul.vmproduct_featured_products li{width:220px !important; margin:10px 4px;}
.vmgroup_latest_products ul li a, 
.vmgroup_featured_products ul.vmproduct_featured_products li a, 
.vmgroup_best_sales ul.vmproduct_best_sales li a{ color:#666; font-size:14px; font-weight:normal;}
.vmgroup_latest_products ul li a,
.vmgroup_featured_products ul.vmproduct_featured_products li a{ display:block; clear:both;}
.vmgroup_latest_products ul li img,
.vmgroup_featured_products ul.vmproduct_featured_products li img{ margin:0px; padding:0px;}
.vmgroup_latest_products ul li,
.vmgroup_featured_products ul.vmproduct_featured_products li,
.vt_wapper_row_products, .main-image, .additional-images a,
.vmgroup_best_sales ul.vmproduct_best_sales li .vt_abestsale{
padding:5px; 
border:1px solid #d6d8ce;
background:#f5f5f5; 
list-style:none; 
text-align:center; 
display:block;
border-radius:2px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
}
.vt_wapper_row_products img, .main-image img{ margin:0;}
.vmgroup_latest_products .vt_bgproducts,
.vt_wapper_row_products .vt_bgproducts,
.main-image .vt_bgproducts,
.vmgroup_featured_products .vt_bgproducts{ margin:5px; padding:5px 5px 20px 5px; background:#fff; position:relative;}
.vt_wapper_row_products .vt_bgproducts,
.main-image .vt_bgproducts{padding:5px;}
.vmgroup_latest_products .vt_bgproducts .product_s_desc,
.vmgroup_featured_products .vt_bgproducts .product_s_desc{ display:none;}
.vmgroup_latest_products .addtocart-bar{ width:120px; margin:0 auto !important;}
/*  Best Sale   */
.vmgroup_best_sales ul.vmproduct_best_sales li{ 
display:block; 
padding:10px 0px 20px 0px; 
background:url(../images/line_content.png) left bottom repeat-x;
	}
.vmgroup_best_sales ul.vmproduct_best_sales li .vt_abestsale{
	padding:3px; 
	margin-right:5px; 
	float:left;
	}
.vmgroup_best_sales ul.vmproduct_best_sales li .featuredProductImage{ width:60px; height:100px; background:#fff; padding:3px; list-style:none; margin:0px; float:left;}
.vmgroup_best_sales ul.vmproduct_best_sales li a.vt_title_best_sale,
.vmgroup_best_sales ul.vmproduct_best_sales .product_s_desc{ width:140px; text-align:left; float:left;}
.product_s_desc{ font-family:Arial, Helvetica, sans-serif;}
.vmgroup_best_sales .vt_price{ text-align:left;}
.vmgroup_best_sales ul.vmproduct_best_sales .addtocart-area{ display:none;}
 
.vt_bgproduct_bottomleft,
.vt_bgproduct_bottomright{ width:100%; height:8px; position:absolute; bottom:-18px;}
.vt_bgproduct_bottomleft{ background:url(../images/vt_bgproduct_shadowleft.png) left no-repeat; left:-10px;}
.vt_bgproduct_bottomright{ background:url(../images/vt_bgproduct_shadowright.png) right no-repeat; right:-10px;}
.vmgroup_best_sales .vt_bgproduct_bottomleft, .vmgroup_best_sales .vt_bgproduct_bottomright{ display:none;}
.additional-images{ padding:10px 0px;}
.horizontal-separator{ background:url(../images/line_content.png) left bottom repeat-x; height:2px; margin:10px 0px;}
/*///////////// Jcomment Component //////////////////*/
#jc{
margin:15px 0;
}
#jc h4{
text-transform:uppercase;
font-weight:bold;
border-bottom:1px solid #ddd;
}
#jc .even{
background:#f5f5f5;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}
#jc .odd{
background:#ddd;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}
#jc .rbox_tr,#jc .rbox_m,#jc .rbox_br,#jc .rbox_tl,#jc .rbox_t,#jc .rbox_bl,#jc .rbox_b{
background:none;
border:none;
}
#comments-form .smiles img{border:none !important;}
.jcomments-links{clear:none;}
div#jc #comments-form div#comments-form-send a{text-transform:uppercase; padding:5px 15px !important; color:#333;}
/*///////////////// Ninjaboard Component /////////////////*/
#ninjaboard div.module{
background:#ddd;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}
#ninjaboard div.module h3{ padding:5px 0;}
#ninjaboard div.module div,#ninjaboard div.module div div, #ninjaboard div.module div div div,#ninjaboard div.module div div div div{
background:none;
padding:0;
}
#ninjaboard .category{
width:auto;
}
#ninjaboard div.module div div div{padding:5px;}
#ninjaboard div.module div div div div div{padding-left:5px;}
#ninjaboard .icon{
background-color:#fff;
padding:5px;
}
#ninjaboard .header{font-weight:bold;text-transform:uppercase;}
#ninjaboard .forumtitle{font-weight:bold;}
#ninjaboard .header h3{text-transform:none; font-size:100%;}
#ninjaboard .pages li{margin:0 5px;}
#ninjaboard .pagination div.limit,#ninjaboard .pagination div.count{margin:2px 0;}
#ninjaboard .category .forums li dl{border-top:1px solid #eee;}
#ninjaboard .category .forums li dl:hover{
background-color:#f5f5f5;
border:none;
border-bottom:1px solid #ddd;
border-top:1px solid #ddd;
}
#ninjaboard{*margin:10px 5px;}
#ninjaboard .pages,#ninjaboard .count{text-transform:none;}
#ninjaboard .pages .first,#ninjaboard .pages .previous,#ninjaboard .pages .next,#ninjaboard .pages .last{*float:left;}
.pagination .pages li *, .pagination .count, .pagination .limit {
	background-color: rgba(0,0,0,0.1);
	display:inline-block;
	border: 1px solid transparent;
	border-color: rgba(0,0,0,0.1);
	font-size: 13px;
	font-style:normal;
	min-width: 13px;
	padding: 2px 5px;
	margin: 0 0 0 0;
	-webkit-box-shadow:none;
}
.pagination .pages li * {
	background-image:none;
	border: none;
	margin-top: 1px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	text-shadow:none;
}
.pagination .pages li.first-child *,
.pagination .pages li:hover a,
.pagination .pages li:active a, .pagination .pages li span.active,
.pagination .pages li:active + li a, .pagination .pages li.active + li a,
.pagination .pages li.active + li:active a, .pagination .pages li:active + li.active span.active {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
}
.pagination li:active a, .pagination li .active {
	background-color:#ccc;
	background-image:none;
	color: #222;
	text-shadow:none;
}
/*//////////////////// Tienda Component ///////////////*/
#tiendaUserShoppingCart{
padding:15px;
}
#tiendaUserShoppingCart .CartTotal{
border-top:1px solid #ccc;
border-bottom:1px solid #ccc;
}
#currency,.tienda_products_flat,#productSearch{
width:90%;
margin:10px auto;
}
#productSearch input{
padding:2px;
margin:5px 0;
}
#tienda img{
border:1px solid #ddd;
padding:5px;
}
#tienda img.addcart{border:none; padding:0;}
.subcategory_name a{font-weight:bold;}
.product_price{font-weight:bold; color:#f60;}
.view div.product_buy{padding:2px;}
.category_description p{
	padding:0px;
}
#tienda_breadcrumb{
background:url(../images/heading_bg.gif);
padding:5px;
font-weight:bold;
}
#onCheckout_wrapper h3{background:#666; color:#fff; text-transform:uppercase; padding:5px; margin:5px 0;}
div#tienda_category_header{
border-bottom:3px double #ddd;
}
div#tienda_subcategories { border-bottom:1px solid #ddd;}
div#tienda_products div#products_footer {
border-top:1px solid #ddd;
}
div#tienda_category_header span {font-size:20px !important; text-transform:uppercase;}
/* /////////////// K2 Calendar ////////////////////////*/
div.catItemCategory,
div.catItemTagsBlock{
border:0;
background:url(../images/vt-bglimenu.png) left bottom repeat-x;
}
div#k2Container div.itemList div.itemContainer div.catItemView .catItemLinks{
border:0;
}
table.calendar {
    background: #FFFFFF;
    border-collapse: collapse;
    margin: 10px 0;
    width: 100%;
}
div.k2CalendarBlock{ height:auto; margin:10px 0px;}
table.calendar tr td{ border:1px solid #e5e5e5; padding:5px 2px;}
table.calendar tr td.calendarNavMonthPrev,
table.calendar tr td.calendarNavMonthNext,
table.calendar tr td.calendarCurrentMonth{color:#fff; text-align:center;}
table.calendar tr td.calendarDayName{ background:#f5f5f5;}
.calendarCurrentMonth{ font-size:16px;}
table.calendar tr td.calendarDayName{ font-size:14px;}
div.itemListCategory img{ 
width:40% !important;
background:none !important; 
border:0px !important;
}
div.itemListCategory{
background:none;
margin:0px;
padding:10px;
border:1px solid #eee;
}
table.calendar tr td.calendarNavMonthNext a,
table.calendar tr td.calendarNavMonthPrev a{ color:#fff;}
table.calendar tr td.calendarDateEmpty{ background:#f5f5f5;}
div.itemTagsBlock,
div.itemCategory{ width:49%; border:0px; padding:0px; float:left;}
div.itemLinks{ margin:10px 0px; padding:10px 10px 10px;}
div.itemLinks,
.vt_boxk2,
div.itemComments{ background:#f4f4f4; border:1px solid #eee;}
.itemView div.vt_item_date_tag{ background: url(../images/title_line.png) left top repeat; border:0;}
div.itemComments,
div.k2Pagination{ margin-top:10px;}
.vt_boxk2{ padding:10px;}
.vt_boxk2{ margin-bottom:0px;}
#k2Container div.itemAuthorBlock{
background:#f5f5f5;
border:1px solid #eee;
}
div.k2ItemsBlock{ padding:0px 0px 10px;}
ItemTagsBlock ul.userIt,
div.userItemTagsBlock ul.userItemTags li{ float:left;}
div.userItemTagsBlock ul.userItemTags li a{ margin:5px;}
#k2Container .subCategory:hover{}
div.subCategory{ padding:0px;}
div.subCategoryContainer {
    margin: 5px 0;
    padding-bottom: 20px;
}
div.k2ItemsBlock ul,
div.k2LoginBlock ul{ margin:0px; padding:0px;}
div.k2ItemsBlock ul li{ 
padding:0px 0px 10px 0px; margin-top:10px; background:url(../images/line_content.jpg) left bottom repeat-x;}
div.k2ItemsBlock ul li div.moduleItemIntrotext a.moduleItemImage img{ 
float:none; 
width:100% !important;
display:block;
border:0px; 
margin:0px 0px 5px 0px;
 }
 div.k2ItemsBlock ul li div.moduleItemIntrotext{ line-height:inherit;}
div.k2ItemsBlock ul li.even{ border:0px;}
div.k2ItemsBlock ul li a.moduleItemTitle{ font-size:16px; font-weight:bold;}
div.k2ItemsBlock ul li a.moduleItemTitle:hover{ text-decoration:underline !important;}
div.k2LoginBlock ul li{
padding:0px 0px 0px 15px;
background:url(../images/li_arrow1.gif) left center no-repeat !important;
}
div.k2LoginBlock ul li a{ color:#666;}
div.itemTagsBlock ul.itemTags li a{ margin:0px 5px; float:left !important;}
#k2Container div.subCategory{ 
text-align:left;
position:relative; 
border:0px; 
}
#k2Container .subCategoryContainer div.subCategory{ margin:0px 10px; background:none !important;}
#k2Container .subCategoryContainer div.subCategory a.subCategoryImage,
#k2Container .subCategoryContainer div.subCategory .k2_boxitem{ width:100%;}
#k2Container div.subCategory img{ margin:0 auto; padding:0px; width:100%; border:0px;}
div.subCategory a.subCategoryImage:hover img{}
div.itemCommentsForm form textarea.inputbox,
div.itemCommentsForm form input.inputbox{ 
background:#fff; 
width:90%;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
}
div.itemCommentsForm form label{ font-weight:bold;}
div.itemListCategory h2{ padding:0px; font-size:160%; font-weight:normal;}
#k2Container div.itemToolbar{background:none; border-bottom:0px; border-top:none;}
#k2Container div.itemRatingBlock {float: left;padding: 0 5px;width: 42%;}
#k2Container div.itemIntroText{font-size:100%; line-height:1.5;}
#k2Container div.itemToolbar{float: right; margin:0; }
#k2Container div.itemListSubCategories h3 {
    background: none;
    display: block;
    font-size: 130%;
    font-weight: bold;
    height: 33px;
    line-height: 33px;
    margin: 0;
    padding: 0px 0px 20px;
}
#k2Container div.subCategory h2{
font-size: 20px;
padding:10px 0px 0px;
}
div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorUrl,
div.itemCommentsForm p.itemCommentsFormNotes{ border:0;}
div.itemComments ul.itemCommentsList li span.commentLink {
    margin: 5px 0;
	float:right;
}div.userItemHeader h3.userItemTitle{ padding-bottom:10px;}
div.tagItemHeader span.tagItemDateCreated {
    border-right: 1px solid #CCCCCC;
    color: #666666;
    margin-right: 5px;
    padding-right: 5px;
}
div.itemToolbar ul li a#fontDecrease img,
div.itemToolbar ul li a#fontIncrease img{ border:0px !important; border-right:0px !important; border-left:0px !important; padding:0px;}
div.itemToolbar ul li{ float:left; border:0px;}
div.userItemHeader h3.userItemTitle,
div.tagItemHeader h2.tagItemTitle{ 
font-size:24px; 
font-family:Arial, Helvetica, sans-serif;
padding:0 0 5px;
height: auto;
line-height: normal;
background:none;
}
div.tagItemHeader{ padding-bottom:10px;}
span.userItemImage img{ margin:0;}
span.tagItemImage img{}
div.userItemIntroText{ padding:0px;}
div.userBlock div.userAdditionalInfo{ margin:0; padding:0;}
div.tagItemView{ border:0px; margin:0px;}
div.itemTagsBlock span,
div.userItemTagsBlock span,
div.catItemTagsBlock span {
    color: #555555;
    float: left;
    font-weight: bold;
    padding: 0px 10px 0 0;
}
.itemExtraFields ul li span.itemExtraFieldsValue, 
.itemLinks .itemLinksLeft .itemCategory a, 
.itemLinks .itemLinksLeft .itemAttachmentsBlock ul, 
.itemLinks .itemLinksRight .itemTagsBlock ul{display: block; margin: 0 0 0 23%;}
div.userItemImageBlock{ width:100%;}
div.userBlock img{ background:none; border:0px; padding:0px;}
div.userBlock{ background:#fff; border:1px solid #eee;}
#k2Container div.subCategory:hover a.subCategoryMore{ cursor:pointer;}
#k2Container div.k2TagCloudBlock a,
#k2Container div.tagItemReadMore a,
#k2Container div.userItemReadMore a,
#k2Container div.catItemReadMore a.k2ReadMore,
div.k2ItemsBlock ul li a.moduleItemReadMore{ 
display:inline-block;
color:#666;
 }
 div.catItemReadMore{ float:left;}
#k2Container div.k2TagCloudBlock a:hover,
#k2Container div.tagItemReadMore a:hover,
#k2Container div.userItemReadMore a:hover,
#k2Container div.catItemReadMore a.k2ReadMore:hover,
div.k2ItemsBlock ul li a.moduleItemReadMore:hover{text-decoration:none !important;} 
 
div.k2TagCloudBlock, div.k2LatestCommentsBlock {
    padding: 5px;
	margin:0px;
	display:block;
} 
div.k2TagCloudBlock a{
padding:4px;
color:#555;
display:block;
}  
div.k2TagCloudBlock a:hover{ background:none !important; text-decoration:underline !important;}
.itemComments h3{ font-weight:normal;}
.k2LatestCommentsBlock .even, .k2LatestCommentsBlock .odd{ *min-height:50px;}
a.itemCommentsLink {
    color: #ccc !important;
}
a.itemCommentsLink span{ display:inline-block; padding:8px 5px 0px 0px;} 
div.itemTagsBlock ul.itemTags li a:hover,
div.userItemTagsBlock ul.userItemTags li a:hover,
div.catItemReadMore a:hover,
div.tagItemReadMore a:hover,
div.userItemReadMore a:hover{ cursor:pointer; text-decoration:underline !important;}
#k2Container .vt_heading_style h3 {
    font-size: 26px;
    font-weight: normal;
    padding: 0 0 5px;
    text-transform: none;
}
div.subCategory a.subCategoryMore { 
	margin-top:2px;
	*margin-top:0px;
	float: none;
	background:#444 !important;
	color:#fff;
	padding:6px 10px;
	text-transform:uppercase;
	}
div.subCategory a.subCategoryMore:hover{ text-decoration:none !important; color:#fff;}	
div.userItemBody {
    margin: 20px 0 0;
    padding:0;
}	
#k2Container div.subCategory:hover{ background:#eee; color:#666;}	
div.subCategory p{ padding:5px 0px;}
div.userBlock h2{ font-size:18px;}  
div.userItemLinks{ margin:0px 0px 5px;} 
div.catItemCommentsLink, div.userItemCommentsLink{ margin:0px; padding:0px;}  
div.userItemCommentsLink a{ color:#ccc;}
div.itemCommentsForm form input.inputbox{ background:#fff;}
div.itemComments ul.itemCommentsList li img{ background:#fff; border:1px solid #ddd; float:left;}
div.itemComments ul.itemCommentsList li span.commentDate,
div.itemComments ul.itemCommentsList li span.commentAuthorName{ font-size:11px;}
div.itemComments ul.itemCommentsList li.even{ 
margin:10px 0px; 
background:#f5f5f5; 
border:1px solid #ddd;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
}
div.catItemCommentsLink a{ color:#ccc;}
div.catItemCommentsLink, div.userItemCommentsLink{ float:right; border:0px;}
div.itemRelated ul li,
div.k2LatestCommentsBlock ul li, div.k2TopCommentersBlock ul li, div.k2ItemsBlock ul li, div.k2LoginBlock ul li, div.k2UserBlock ul.k2UserBlockActions li, div.k2UserBlock ul.k2UserBlockRenderedMenu li, div.k2ArchivesBlock ul li, div.k2AuthorsListBlock ul li, div.k2CategoriesListBlock ul li, div.k2UsersBlock ul li, div.itemAuthorLatest ul li{ list-style:none; border:0px;}
.k2LatestCommentsBlock{ font-family:Arial, Helvetica, sans-serif;}
.k2LatestCommentsBlock ul{ margin:0px; padding:0px;}
.k2LatestCommentsBlock ul li, div.tagItemView, div.userItemView,
div#k2Container div.itemList div.itemContainer div.catItemView{
border-bottom: 1px solid #EEEEEE;
margin-bottom: 20px;
padding-bottom: 20px;
 }
 
#vt_nav_right .k2LatestCommentsBlock ul li,
#vt_nav_left .k2LatestCommentsBlock ul li{ background:#eee !important; padding:10px; border:1px solid #ddd; margin:5px;}
 
 div.itemContentFooter {
	border:0px;
    display: block;
    margin: 0 0 4px;
    padding: 10px 4px 0;
    text-align: right;
}
#k2Container{ background:#fff;}

div.userItemTagsBlock {
    border-bottom: 1px dotted #CCCCCC;
    margin-bottom: 10px;
    padding: 10px 0;
}
.k2LatestCommentsBlock .even, .k2LatestCommentsBlock .odd{border:0px;}
div.k2LatestCommentsBlock ul li span.lcUsername{ font-style:italic; color:#999;}
#k2Container input#submitCommentButton{
font-weight:bold;
color:#ccc !important;
padding:10px 20px !important;
border:none;
font-size:12px !important;
text-align:center;
text-transform:uppercase;
background:#444;
}
#k2Container input#submitCommentButton:hover{
color:#fff !important;
cursor:pointer;
text-decoration:none;
}
#k2Container div.itemCommentsForm h3,#k2Container div.itemAuthorLatest h3, div.itemRelated h3{padding-bottom:5px;}
#k2Container div.itemCommentsForm h3{ font-size:24px; font-weight:normal; background:none;}
.k2AccountPage table{width:90%;}
.k2AccountPage table th{
background:#ddd;
text-transform:uppercase;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
}
div.itemCommentsForm form .groupinput p {
    float: left;
    margin: 0;
    padding-right: 2%;
    width: 30%;
}
.k2AccountPage table th,.k2AccountPage table td{padding:5px 0;}
#k2Container div.catItemImageBlock{padding:0; margin:0;}
div.userItemHeader span.userItemDateCreated,
div.itemHeader span.itemDateCreated, 
div.catItemHeader span.catItemAuthor,
div.catItemHeader span.catItemDateCreated,
div.itemHeader span.itemAuthor,
div.tagItemHeader span.tagItemDateCreated,
div.tagItemCategory, 
div.userItemCategory{
    color: #999 !important;
	display:block;
	text-transform:uppercase;
	font-size:10px;
	line-height:normal;
	float:left;
}
div.userItemHeader span.userItemDateCreated,
div.itemHeader span.itemDateCreated,
div.catItemHeader span.catItemDateCreated {
    border-right: 1px solid #CCCCCC;
    color: #999999;
    font-size: 10px;
    line-height: 10px;
    margin-right: 5px;
    padding-right: 5px;
}
div.tagItemCategory{ margin:0px; padding:0px; border:0px;}
div.catItemHeader span.catItemAuthor,
div.itemHeader span.itemAuthor,
div.catItemAuthor{ 
border:0px;
padding:10px 0px;
background:none;
}
div.userItemCategory{ padding:0px; border:0;}
.itemView div.itemHeader span.itemAuthor{ border:0px;}
div.userItemCategory span{ color:#999;}
div.vt_item_date_tag{ padding:0px;line-height:20px; min-height:20px; display:block; }
.itemView div.vt_item_date_tag{ padding:5px;}
div.itemNavigation{ background:#fff;}
#k2Container div.catItemHeader,#k2Container div.catItemBody,#k2Container div.catItemIntroText,#k2Container div.itemImageBlock{
margin:0;
padding:0;
padding-bottom:5px;
}
div.tagItemImageBlock {
    margin: 0;
    padding: 0;
	width:100%;
}
div.tagItemCategory span, div.userItemCategory span{font-weight:normal; color:#999;}
div.tagItemBody{ padding:10px 0px;}
div.tagItemIntroText{padding-bottom:0px;}
div.itemRelated ul li.even, div.itemRelated ul li.odd{ background:none;}
div.itemRelated, div.itemAuthorLatest{width:45%; padding:0px 10px; float:left;}
div.itemRelated ul,
div.itemAuthorLatest ul{ padding:10px 0px; margin:0px;}
#k2Container .itemTitle{
padding:5px 0px;
font-size:260%;
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
line-height:normal;
}
div.itemView{ border:0px;}
div.itemBackToTop{ padding:10px 0px;}
.sbox-content-image img{ margin:0;}
.form-validate div.componentheading{
background:#555;
color:#fff;
font-size:120%;
text-transform:uppercase;
font-weight:bold;
padding:5px 10px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
}
#sbox-window{ background-color:#000;}
div#k2Container div.itemList div.itemContainer div.catItemView{ 
margin:10px 0px 0px; 
padding-bottom:10px;
border-bottom:1px solid #eee;
}
div#k2Container div.itemList div.itemContainer div.catItemView .catItemLinks{
border-bottom:1px solid #fff; 
}
div.itemBody{padding:15px 0px; clear:both;}
div#k2Container div.itemList div.itemContainer .catItemHeader,div#k2Container div.itemHeader{
margin:0;
padding:5px 0px;
width:100%;
float:left;
}
span.catItemImage img{ margin:0px;}
div#k2Container div.itemList div.itemContainer .catItemHeader .catItemTitle{
	background: none;
    clear: both;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 24px;
	height:auto;
	line-height:normal;
    margin: 0;
    padding: 0;
}
div.vt_aside{float:left; border:1px solid #eee; background:#fff; padding-bottom:10px; text-align:center;}
div.vt_aside .catItemDateCreated, div.vt_aside .tagItemDateCreated, div.vt_aside .userItemDateCreated,
div.vt_aside .catItemAuthor, div.vt_aside .tagItemCategory, div.vt_aside .userItemCategory,
div.vt_aside .catItemCommentsLink, div.vt_aside .userItemCommentsLink, div.vt_aside .userItemCommentsLink{ 
display:block; 
text-align:center; 
width:100%; 
float:right; 
color:#999;
}
div.vt_aside .catItemDateCreated,
div.vt_aside .tagItemDateCreated,
div.vt_aside .userItemDateCreated{ 
font-size:30px;
line-height:30px; 
color:#fff;
padding:5px 0px; 
*padding:10px 0px 0px; 
margin-bottom:10px; 
}
div.vt_aside span.catItemHits,
div.vt_aside .catItemAuthor a,
div.vt_aside .tagItemCategory a,
div.vt_aside .userItemCategory a,
div.vt_aside .userItemCommentsLink a,
div.vt_aside .catItemCommentsLink a,
div.vt_aside .userItemCommentsLink a{color:#999; font-size:11px; margin:0px; padding:0px;}
div.catItemHitsBlock{ border:0px;}
div.vt_aside{ width:23%;}
div.vt_catItemBlock{float:right; width:74%;}
.vt_catItemBlock h3 a:hover{ text-decoration:underline !important;}
span.userItemImage img,
#k2Container .tagItemImage img,
div#k2Container div.itemList div.itemContainer .catItemImage img,
div#k2Container .itemImage img{
background:#fff !important; 
padding:0px !important;
border:0px !important;
width:100% !important;
margin:0px;
}
div.vt_catItemBlock span.userItemImage img,
div.vt_catItemBlock .tagItemImage img,
div.vt_catItemBlock .catItemImage img,
div.vt_catItemBlock .itemImage img{width:450px !important;}
.itemAuthorLatest .even,.itemAuthorLatest .odd{background:none;}
.cart-view #com-form-login-remember label, .cart-view #com-form-login-remember .inputbox{ float:left;}
.cart-view #com-form-login-remember .default{ position:relative; top:-3px;}
.cart-view fieldset{ margin:10px 0px; background:none; border:0; padding:0px;}
.cart-view fieldset .cart-summary{ margin:5px; display:block; border-collapse:collapse;}
.cart-view fieldset .cart-summary tbody{ display:block; width:100%;}
table.cart-summary tr th {
    background:#ddd;
    border-bottom:0px;
    padding: 5px;
	text-align:center;
}
.billto-shipto span, span.terms-of-service{ font-size:18px;}
.vt_infor_cart_detail{
background:#fff;
padding:5px 10px;
border:1px solid #eee;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
}
.vt_basket th{
padding:5px;
}
.cart-view form.inline .inputbox{width:20px; text-align:center; padding:2px;}
.vmCartModule{margin:10px 0px 0px 0px;}
.vt_client_shop_infor th,.vt_category_shop_infor th{padding:5px;}
.vt_client_shop_infor td,.vt_category_shop_infor td{
background:#fff; 
padding:5px;
border:1px solid #eee;
}
.vm2-remove_from_cart{background-position: 0 -212px; height:30px;}
.product-neighbours a.previous-page {
    background:url(../images/previous_16x16.png) no-repeat left center;
    float: left;
    line-height: 20px;
    padding-left: 30px;
}
.product-neighbours a.next-page {
    background:url(../images/next_16x16.png) no-repeat  right center ;
    float: right;
    line-height: 20px;
    padding-right: 30px;
}