.vt_copyright ul.menu li a:hover,
div.k2LoginBlock ul li a:hover,.nspLinks ul li h4 a:hover,
.dropcap,a:link,a:visited,.menu a:hover,#current a,#page .contentheading, div.k2TagCloudBlock a,
#active_menu,.contentpane_vtem_popup a,a.results, #vt_copyright a:hover, .weblinks a:hover,
#vt_menu_footer ul li a:hover, #current ul li a:hover, ul.VMmenu li a:hover,
.mostread li a:hover,.fg-menu li a:hover, .fg-menu li.active a, .fg-menu li.active.parent a,
.fg-menu li.active.parent li.active.parent a,a.pathway:hover,
.vt_box_head .button_round1 a:hover, .readmore a:hover, .nspArtPage a.readon:hover,
ul.VMmenu li.VmOpen a,.moduletable a.mainlevel:hover,.items-row .item .readmore a:hover, 
.pagination a,.nspArt a.readon:hover, .nspArt h4.nspHeader a:hover,
div.itemTagsBlock ul.itemTags li a:hover, div.k2ItemsBlock ul li a.moduleItemTitle:hover,
div.userItemTagsBlock ul.userItemTags li a:hover, .items-row .contentheading a:hover, 
div.moduletable_menu ul.menu.mod_about li a:hover,.vtem-tabs-wrapper .newsflash-title a:hover,
.items-row .item h2 a:hover, .contentheading a:hover, .contentheading a:hover,
ul li.active a:hover, ul li.active a span:hover, .current a span, 
.current ul li a:hover span, .current ul li a span:hover,
div.catItemReadMore a:hover,
div.tagItemReadMore a:hover,
div.userItemReadMore a:hover{color:#3D9B03 ; text-decoration:none;}
.vt_wrapper_feature,
.vt_wrapper_bottom,
.box_skitter .info_slide_dots .image_number_select,
.pagination strong span,
.pagination strong a:hover,
table.calendar tr td.calendarNavMonthPrev, 
table.calendar tr td.calendarNavMonthNext, 
table.calendar tr td.calendarCurrentMonth,
div.vt_aside .catItemDateCreated,
div.vt_aside .tagItemDateCreated,
div.vt_aside .userItemDateCreated,
#k2Container div.subCategory a.subCategoryMore:hover,
table.calendar tr td.calendarTodayLinked,
table.calendar tr td.calendarTodayLinked a:hover,
table.calendar tr td.calendarDateLinked a:hover,
table.calendar tr td.calendarToday,
table.calendar tr td.calendarToday:hover,
.ie div.k2LoginBlock fieldset.input input.button, 
.ie div.button_searchb .form_searchb_submit, 
.ie a.vt_button, 
.ie .button_round, 
.ie #finder-search .button,
.ie div.k2LoginBlock fieldset.input input.button:hover, 
.ie div.button_searchb .form_searchb_submit:hover, 
.ie a.vt_button:hover, 
.ie .button_round:hover, 
.ie #finder-search .button:hover,
#vtem_menu ul.menu_vtem_nav li ul li a.hover,
#vtem_menu ul.menu_vtem_nav li.active ul li a.hover,
#vtem_menu ul.menu_vtem_nav li ul li.active.parent a,
#vtem_menu ul.menu_vtem_nav li ul li.current.active a,
#vtem_menu ul.menu_vtem_nav li ul li ul li.active a,
#vtem_menu ul.menu_vtem_nav li ul li.active.parent ul li a:hover,
#vtem_menu ul.menu_vtem_nav li ul li.active.parent ul li.current.active a,
#vtem_menu ul.menu_vtem_nav li ul li.active.parent ul li.current.active a span,
#vtem_menu ul.menu_vtem_nav ul li.active a.hover,
#vtem_menu ul.menu_vtem_nav ul li.active ul li a:hover,
#vtem_menu ul.menu_vtem_nav ul li.active ul li a.hover,
#vtem_menu ul.menu_vtem_nav ul li.active ul li a.hover:hover span,
#vtem_menu ul.menu_vtem_nav li.parent ul li.current ul li a:hover,
#vtem_menu ul.menu_vtem_dropline li.active a span,
#vtem_menu ul.menu_vtem_dropline li.vtem_hover a span,
#vtem_menu ul.menu_vtem_dropline li.active a,
#vtem_menu ul.menu_vtem_dropline li.vtem_hover a{ background-color:#3D9B03 !important; border:0px !important; box-shadow:none !important; }
#vtem_menu ul.menu_vtem_dropline li.active ul{background-color:#3D9B03 !important; display:block !important;}

div.k2LoginBlock fieldset.input input.button, 
div.button_searchb .form_searchb_submit, 
a.vt_button, .button_round, #finder-search .button,
div.k2LoginBlock fieldset.input input.button:hover, 
div.button_searchb .form_searchb_submit:hover, 
a.vt_button, .button_round, #finder-search .button:hover,
#vtem_menu ul.menu_vtem_nav li a.hover,
#vtem_menu ul.menu_vtem_nav li a:hover,
#vtem_menu ul.menu_vtem_nav li.active a, 
#vtem_menu ul.menu_vtem_nav li.current a,
#vtem_menu ul.menu_vtem_nav li.active a{
background: #48b103; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyN2Y3ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZDY2NjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #48b103 0%, #41a503 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#48b103), color-stop(100%,#41a503)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #48b103 0%,#41a503 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #48b103 0%,#41a503 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #48b103 0%,#41a503 100%); /* IE10+ */
background: linear-gradient(to bottom,  #48b103 0%,#41a503 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48b103', endColorstr='#41a503',GradientType=0 ); /* IE6-8 */
border:1px solid #328002;
border-bottom:1px solid #44b001;
box-shadow:0px 0px 0px 4px #389102 inset;
}
#vt_top .search{
border:1px solid #328002;
border-bottom:1px solid #44b001;
box-shadow:0px 0px 2px 2px #389102 inset;
}

.bgfix_bottom{ background:#3D9B03;} 
.vt_wrapper_top{ background:#3D9B03 url(bghead_style4.png) center top no-repeat !important;}

.vt_wrapper_bottom .button_top,
.vt_wrapper_feature .button_top{ background-position: center -215px;}

.template-style4 #vt_logo img{ display:none;}
.template-style4 #vt_logo{background:url(vt_logo_style4.png) center center no-repeat;}