<?xml version="1.0" encoding="utf-8"?>
<config>

<fieldset name="Eventgallery" label="General">

		<field 	name="adminmail" 
				type="text" 
				default="" 
				label="COM_EVENTGALLERY_OPTIONS_COMMON_ADMINMAIL_LABEL" 
				rows="3" 
				cols="50" 
				description="COM_EVENTGALLERY_OPTIONS_COMMON_ADMINMAIL_DESCRIPTION" />
		
		
		<field name="use_comments" type="radio" default="0" label="COM_EVENTGALLERY_OPTIONS_COMMON_USECOMMENTS_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_USECOMMENTS_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="use_cart" type="radio" default="1" label="COM_EVENTGALLERY_OPTIONS_COMMON_USECART_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_USECART_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="show_cart_connector" type="radio" default="0" label="COM_EVENTGALLERY_OPTIONS_COMMON_SHOW_CART_CONNECTOR_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_SHOW_CART_CONNECTOR_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>	
		
		<field name="use_social_sharing_button" type="radio" default="0" label="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_BUTTON_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_BUTTON_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field 	name="social_sharing_facebook_appid" 
				type="text" 
				default="" 
				label="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_FACEBOOK_APPDID" 
				description="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_FACEBOOK_APPIC_DESCRIPTION" />
				
		<field name="use_social_sharing_facebook" type="radio" class="btn-group" default="0" 
		            label="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_FACEBOOK_LABEL" 
		      description="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_FACEBOOK_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="use_social_sharing_google" type="radio" class="btn-group" default="0" 
		            label="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_GOOGLE_LABEL" 
		      description="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_GOOGLE_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="use_social_sharing_twitter" type="radio" class="btn-group" default="0" 
		            label="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_TWITTER_LABEL" 
		      description="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_TWITTER_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="use_social_sharing_pinterest" type="radio" class="btn-group" default="0" 
		            label="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_PINTEREST_LABEL" 
		      description="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_PINTEREST_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="use_social_sharing_email" type="radio" class="btn-group" default="0" 
		            label="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_EMAIL_LABEL" 
		      description="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_EMAIL_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="use_social_sharing_download" type="radio" class="btn-group" default="0" 
		            label="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_DOWNLOAD_LABEL" 
		      description="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_DOWNLOAD_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field 	name="cart_connector_link" 
				type="text" 
				default="http://mydomain.com/${folder}/${fileBase}" 
				label="COM_EVENTGALLERY_OPTIONS_COMMON_CART_CONNECTOR_LINK_LABEL" 
				rows="1" 
				cols="150" 
				description="COM_EVENTGALLERY_OPTIONS_COMMON_CART_CONNECTOR_LINK_DESCRIPTION" />
				
		<field name="cart_connector_link_rel" 
			type="text" 
			default="nofollow" 
			rows="1" 
			cols="150" 
			label="COM_EVENTGALLERY_OPTIONS_COMMON_CART_CONNECTOR_LINK_REL_LABEL" 
			description="COM_EVENTGALLERY_OPTIONS_COMMON_CART_CONNECTOR_LINK_REL_DESCRIPTION" />
		
		<field name="image_quality" type="integer" first="40" last="95" step="1" default="85" label="COM_EVENTGALLERY_OPTIONS_COMMON_THUMBNAIL_QUALITY_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_THUMBNAIL_QUALITY_DESC"/>
		
		<field name="use_sharpening" type="radio" default="1" label="COM_EVENTGALLERY_OPTIONS_COMMON_USESHARPENING_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_USESHARPENING_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		
		<field 	name="image_sharpenMatrix" 
				type="text" 
				default="[[-1,-1,-1],[-1,16,-1],[-1,-1,-1]]" 
				label="COM_EVENTGALLERY_OPTIONS_COMMON_SHARPINGMATRIX_LABEL" 
				rows="1" 
				cols="50" 
				description="COM_EVENTGALLERY_OPTIONS_COMMON_SHARPINGMATRIX_DESCRIPTION" />

		<field name="use_legacy_image_rendering" type="radio" default="0" label="COM_EVENTGALLERY_OPTIONS_COMMON_USE_LEGACY_IMAGE_RENDERING_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_USE_LEGACY_IMAGE_RENDERING_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
</fieldset>
<fieldset name="accesscontrol" label="Permissions">
 
		<field name="asset_id" type="hidden" filter="unset" /> 
 
		<field
			name="rules"
			type="rules"
			label="Permissions"
			translate_label="false"
			filter="rules"
			validate="rules"
			class="inputbox"
			component="com_eventgallery"
			section="component" />
	</fieldset>
</config>
